<div class="main-container">

    <ul>
        <li (click)="sendHomeFlag()">
            <i class="fa-solid fa-house fa-lg"></i>
        </li>
        <li (click)="sendManageFlag()">        
            <i class="fa-solid fa-gear fa-lg"></i>        
        </li>
        <li (click)="sendReportFlag()">        
             <i class="fa-solid fa-chart-line fa-lg"></i>        
        </li>
        <li>        
            <i class="fa-solid fa-bell fa-lg"></i>        
        </li>
        <li>
            <i (click)="logout()" class="dropdown-button" class="fa-solid fa-user fa-lg"></i>                
        </li>
    
    
    </ul>
    
</div>
