<ul>
    <li (click)="sendHomeFlag()">
        <a class="active"><i class="fa-solid fa-house fa-lg"></i></a>
    </li>
    <li (click)="sendWalletFlag()">
        <a>
            <i class="fa-solid fa-gear fa-lg"></i>
        </a>
    </li>
    <li (click)="sendReportFlag()">
        <a>
            <i class="fa-solid fa-chart-line fa-lg"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="fa-solid fa-bell fa-lg"></i>
        </a>
    </li>


    <li class="dropdown">
        <a> 
            <i (click)="logout()" class="dropdown-button" class="fa-solid fa-user fa-lg"></i>
        </a>
        
    </li>


</ul>