

.main-container {    
    display: flex;    
    width: 90vw;
    height: 90vh;
    flex-direction: column;    
    gap:5vh;
    align-items: center;
    justify-items: center;
    padding: 5vw;
    padding-top: 15vh ;
    margin: auto;
    
}

.main-container > button {
    color: blue;
    background-color: transparent;
    border: 1px blue solid;
    width: 100%;
    min-height: 70px;
    font-size: large;
    cursor: pointer;
    border-radius: 5vw;
}