/*styles for dashboard component*/
/*basic style for mobile*/

.main-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: flex-start;
  border: solid 5px hsla(210, 4%, 35%, 0.58); 
  
}

.main-menu {   
  display: flex;
  height: 10%;  
  width: 100%;
  box-sizing: border-box;  
  justify-content: center;
  background-color: rgb(103, 180, 231);
   
}

.content-container {   
  display: flex;    
  box-sizing: border-box;
  height: 90%;   
  width: 100%;
  margin: auto;
  align-content: center;
  justify-content: center;
}



