<ng-container *ngIf="movement_type==='income'">
  <div class="main-container">
    <h2 class="title" mat-dialog-title>Add new income</h2>
    <form [formGroup]="incomeForm" (ngSubmit)="addMovement()">
      <mat-dialog-content class="mat-typography">
  
        <select type="text" autocomplete="off" placeholder="choose category" name="category" formControlName="category">
          <option value="" disabled selected>Choose category</option>
          <option *ngFor="let category of categories" [value]=category._id>{{category.name}}</option>
        </select>
        <br>
  
        <select type="text" autocomplete="off" placeholder="vendor" name="vendor" formControlName="vendor">
          <option value="" disabled selected>Choose vendor</option>
          <option *ngFor="let vendor of vendors" [value]="vendor._id">{{vendor.name}}</option>
        </select>
        <br>
  
        <select type="text" autocomplete="off" placeholder="pocket" name="pocket" formControlName="pocket">
          <option value="" disabled selected>Choose pocket</option>
          <option *ngFor="let pocket of pockets" [value]="pocket._id">{{pocket.name}}</option>
        </select>
        <br>
  
        <input type="text" autocomplete="off" placeholder="insert amount" name="amount" formControlName="amount">
      </mat-dialog-content>

    <mat-dialog-actions align="center">
      <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Add income</button>
      <button mat-button mat-dialog-close>Cancel</button>
      
    </mat-dialog-actions>  
      
    </form>
  </div>
  
</ng-container>

<ng-container *ngIf="movement_type==='expense'">
  <div class="main-container">
    <h2 class="title" mat-dialog-title>Add new expense</h2>
    <form [formGroup]="expenseForm" (ngSubmit)="addMovement()">
      <mat-dialog-content class="mat-typography">
  
        <select type="text" autocomplete="off" placeholder="choose category" name="category" formControlName="category">
          <option value="" disabled selected>Choose category</option>
          <option *ngFor="let category of categories" [value]=category._id>{{category.name}}</option>
        </select>
        <br>
  
        <select type="text" autocomplete="off" placeholder="vendor" name="vendor" formControlName="vendor">
          <option value="" disabled selected>Choose vendor</option>
          <option *ngFor="let vendor of vendors" [value]="vendor._id">{{vendor.name}}</option>
        </select>
        <br>
  
        <select type="text" autocomplete="off" placeholder="pocket" name="pocket" formControlName="pocket">
          <option value="" disabled selected>Choose pocket</option>
          <option *ngFor="let pocket of pockets" [value]="pocket._id">{{pocket.name}}</option>
        </select>
        <br>
  
        <input type="text" autocomplete="off" placeholder="insert amount" name="amount" formControlName="amount">
      </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>add expense</button>
        <button mat-button mat-dialog-close>Cancel</button>
        
      </mat-dialog-actions>
    </form>
  </div>
  
</ng-container>

<ng-container *ngIf="movement_type==='transfer'">
  <div class="main-container">

    <h2 class="title" mat-dialog-title>Add new transfer</h2>
    <form [formGroup]="transferForm">
      <mat-dialog-content class="mat-typography">
  
        <label>from the pocket
          <select type="text" autocomplete="off" name="fromPocket" formControlName="fromPocket">
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{pocket.name}}</option>
          </select>
        </label>
        <label>to the pocket
          <select type="text" autocomplete="off" name="toPocket" formControlName="toPocket">
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{pocket.name}}</option>
          </select>
        </label>
        <label>Insert transfer amount
          <input type="text" autocomplete="off" name="amount" formControlName="amount">
        </label>
        <label>Notes
          <textarea id="notes" type="text" autocomplete="off" name="notes" formControlName="notes"></textarea>
        </label>
  
      </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <button type="submit" (click)="addMovement()" [mat-dialog-close]="true" cdkFocusInitial>Make transfer</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>

</ng-container>