<!-- INCOME FORM -->
<ng-container *ngIf="movement_type==='income'">
  <div class="main-container">
    <h2 mat-dialog-title>Add new income</h2>
    <form [formGroup]="incomeForm" (ngSubmit)="addMovement()">
      <mat-dialog-content class="mat-typography">

        <div>
          <label for="income-category">Category</label>
          <select id="income-category" formControlName="category">
            <option value="" disabled selected>Choose category</option>
            <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
          </select>
        </div>

        <div>
          <label for="income-vendor">Vendor</label>
          <select id="income-vendor" formControlName="vendor">
            <option value="" disabled selected>Choose vendor</option>
            <option *ngFor="let vendor of vendors" [value]="vendor._id">{{ vendor.name }}</option>
          </select>
        </div>

        <div>
          <label for="income-pocket">Pocket</label>
          <select id="income-pocket" formControlName="pocket">
            <option value="" disabled selected>Choose pocket</option>
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{ pocket.name }}</option>
          </select>
        </div>

        <div>
          <label for="income-amount">Amount</label>
          <input id="income-amount" type="text" formControlName="amount" autocomplete="off" placeholder="insert amount"/>
        </div>

        <div>
          <label for="income-date">Date</label>
          <input id="income-date" type="date" formControlName="date" />
        </div>

        <div>
          <label for="income-notes">Notes</label>
          <textarea id="income-notes" formControlName="notes" autocomplete="off" placeholder="write something...."></textarea>
        </div>

      </mat-dialog-content>

      <mat-dialog-actions align="center">
        <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Add income</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-container>

<!-- EXPENSE FORM -->
<ng-container *ngIf="movement_type==='expense'">
  <div class="main-container">
    <h2 mat-dialog-title>Add new expense</h2>
    <form [formGroup]="expenseForm" (ngSubmit)="addMovement()">
      <mat-dialog-content class="mat-typography">

        <div>
          <label for="expense-category">Category</label>
          <select id="expense-category" formControlName="category">
            <option value="" disabled selected>Choose category</option>
            <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
          </select>
        </div>

        <div>
          <label for="expense-vendor">Vendor</label>
          <select id="expense-vendor" formControlName="vendor">
            <option value="" disabled selected>Choose vendor</option>
            <option *ngFor="let vendor of vendors" [value]="vendor._id">{{ vendor.name }}</option>
          </select>
        </div>

        <div>
          <label for="expense-pocket">Pocket</label>
          <select id="expense-pocket" formControlName="pocket">
            <option value="" disabled selected>Choose pocket</option>
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{ pocket.name }}</option>
          </select>
        </div>

        <div>
          <label for="expense-amount">Amount</label>
          <input id="expense-amount" type="text" formControlName="amount" autocomplete="off" placeholder="insert amount"/>
        </div>

        <div>
          <label for="expense-date">Date</label>
          <input id="expense-date" type="date" formControlName="date" />
        </div>

        <div>
          <label for="expense-notes">Notes</label>
          <textarea id="expense-notes" formControlName="notes" autocomplete="off" placeholder="write something...."></textarea>
        </div>

      </mat-dialog-content>

      <mat-dialog-actions align="end">
        <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Add expense</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-container>

<!-- TRANSFER FORM -->
<ng-container *ngIf="movement_type==='transfer'">
  <div class="main-container">
    <h2 mat-dialog-title>Add new transfer</h2>
    <form [formGroup]="transferForm" (ngSubmit)="addMovement()">
      <mat-dialog-content class="mat-typography">

        <div>
          <label for="transfer-fromPocket">From pocket</label>
          <select id="transfer-fromPocket" formControlName="fromPocket">
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{ pocket.name }}</option>
          </select>
        </div>

        <div>
          <label for="transfer-toPocket">To pocket</label>
          <select id="transfer-toPocket" formControlName="toPocket">
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{ pocket.name }}</option>
          </select>
        </div>

        <div>
          <label for="transfer-amount">Amount</label>
          <input id="transfer-amount" type="text" formControlName="amount" autocomplete="off" placeholder="insert amount"/>
        </div>

        <div>
          <label for="transfer-date">Date</label>
          <input id="transfer-date" type="date" formControlName="date" />
        </div>

        <div>
          <label for="transfer-notes">Notes</label>
          <textarea id="transfer-notes" formControlName="notes" autocomplete="off" placeholder="write something...."></textarea>
        </div>

      </mat-dialog-content>

      <mat-dialog-actions align="end">
        <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Make transfer</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-container>
