<div class="home">

    <div class="create" #createWallet style="display: none;">
        
        <p>You don't have any wallets yet</p>
        <p>Please create one</p>
        <button id="create-button" (click)="openCreateWalletDialog()">Create Wallet</button>
    </div>

    <div class="select" #selectWallet style="display: none;">
        <p>Please, select a wallet to use:</p>
        <app-wallets-page></app-wallets-page>
    </div>

    <div #showingWallet style="display: none;">
        @if(selectedWallet){
        <div class="showing-wallet">
            <div class="wallet">
                <app-wallet [wallet]="selectedWallet"></app-wallet>
            </div>

            
        </div>
        }
    </div>

</div>