
/* Styles for the Home Component */
/*basic style for mobile*/ 

.create {   
    box-sizing: border-box; 
    display: flex;    
    padding-top: 5%;
    justify-content: center;
    align-content: flex-start;    
    align-items: center;
    height: 100%;
    width: 100vw;    
    margin: auto;   
    text-align: center;
    font-size: 1.2em;
    line-height: 1em;    

}

.create > button {
    color: #8d8787;
    font-size: 1.2em;
    font-weight: bolder;    
    background-color: white;
    border: 3px solid rgb(201, 201, 209);
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
}

.select {    
    box-sizing: border-box; 
    display: flex;    
    padding-top: 1%;
    justify-content: center;
    align-content: flex-start;    
    align-items: center;
    height: 100%;
    width: 100vw;    
    margin: auto;   
    text-align: center;
    font-size: 1.2em;
    line-height: 1em;   
}

.showing-wallet{    
    box-sizing: border-box; 
    display: flex;  
    justify-content: center;
    align-content: flex-start;    
    align-items: center;
    height: 100%;
    width: 95vw;    
    margin: auto;  
    
}



/*desktop style*/
@media (min-width: 768px) {       
    
         
}

  