@if(wallet){
<div class="main-container">

  <div class="top-bar">
    <div class="title">
      <h2>{{wallet.name}}</h2>
      <li id="totalDesk">all pockets: {{totalAmount}}</li>
      <li id="netoDesk">main pocket out: {{netoAmount}} </li>
    </div>

    <div class="title-options">
      <i class="fa-solid fa-pen fa-lg" (click)="openEditWalletNameDialog(wallet)"></i>
      <i class="fa-solid fa-share-nodes fa-lg" (click)="openShareOptionsDialog(wallet)"></i>
      <i id="members-icon" class="fa-solid fa-people-group fa-lg"></i>
      <div class="wallet-friends">        
        <ul>Wallet's members:
            @for (user of users; track $index) {
            <li>{{user.name}}</li>
          }
        </ul>
       
        
      </div>
    </div>

  </div> 
 
  <div class="pockets-container">
    @for (pocket of pockets; track $index) {
    <div>
      <app-pocket [pocket]="pocket"></app-pocket>
    </div>
    }

    <div class="add-pocket">      
        <i (click)="openPocketsDialog()" class="fa-regular fa-square-plus" >
        </i>
      
    </div> 
  </div>

  
  <div class="movements-options">
    <button (click)="openAddMovementDialog('income')">Income</button>
    <button (click)="openAddMovementDialog('expense')">Expense</button>
    <button (click)="openAddMovementDialog('transfer')">Transfer</button>
  </div>
</div>
<div class="mobileAmounts">
  <li id="totalMobile">all pockets: {{totalAmount}}</li>
  <li id="netoMobile">main pocket out: {{netoAmount}} </li>
</div>

}

@else {
<p>error charging your wallet</p>
}